<!DOCTYPE html>
<html lang="en">
<head>
<link rel="alternate" type="application/rss+xml" href="{{ config.rss_uri }}">
<link rel="stylesheet" href="/static/base.css">
</head>
<body>
<header class="panel">
<h1>{{ config.title }}</h1>
<p>{{ config.description }}</p>
<nav>
{% if user %}
<a href="/post/new">write a post</a>
{{ user.name }}
{% else %}
<a href="/user/login">login</a>
{% endif %}
</nav>
</header>
{% block content %} {% endblock content %}
</body>
</html>