{% extends "base" %}
{% block content %}
<div class="panel">
Hello world! You are page access: {{ count }}
</div>
{% for post in posts %}
<article class="panel">
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
</article>
{% endfor %}
{% endblock content %}