{% extends "base" %}
{% block content %}
<h2>Write a new post</h2>
<form method="post" action="/post">
<input type="text" name="title"/>
<input type="textarea" name="content"/>
<input type="submit"/>
</form>
{% endblock content %}